# .gitignore file for the CMMPPT repository

*.exe
*.obj
*.lib
*.tmp
*.ilk
*.pdb
*.o
*.a

Makefile.bak

wit/api-test/api-out-diff.txt
wit/api-test/api-out-new.txt
wit/api-test/clone1.log
wit/api-test/msgAll-temp.log
wit/api-test/soln.out
wit/api-test/solver.log
wit/api-test/wit.log
