.btn-primary , .page-item.active .page-link {
    background-color: #e21111;
    border-color: #e21111;
}
.navbar {
background-color:#e21111;
}
a {
color:#e21111;
}

#selecttable {
width:100%;
}
.page-link {
color:#e21111;
}
 .btn-primary:disabled {
 background-color: #c21111;
 }
.btn-primary:hover {
background-color: #c21111;
}